<div class="max-w-7xl mx-auto p-4" dir="rtl">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- سبد خرید -->
    <div class="col-span-1 md:col-span-2 bg-white rounded-lg shadow-lg p-6">
      <h2 class="text-2xl font-bold mb-6 text-right text-gray-800">سبد خرید</h2>
      <ul class="space-y-4">
        <!-- آیتم ۱ -->


        <!-- آیتم ۲ -->
        @if (isLoading) {
          <div class="w-full h-full grid place-content-center">
            <app-spinner [isLoading]="isLoading"></app-spinner>
          </div>
        } @else {
          @if (!basket) {
            <div class="w-full h-full grid place-content-center">
              محصولی در سبد خرید شما وجود ندارد
            </div>
            } @else {
            @for (product of basket;track $index) {
              <li
                class="flex items-center justify-between bg-gray-50 rounded-lg shadow-md p-4 hover:shadow-lg transition *:flex *:justify-center">
                <div class="flex items-center w-[40%] !justify-start">
                  <img
                    [src]="product?.image"
                    alt="محصول"
                    (click)="onNavigateToProductDetail(product?.id, product?.name)"
                    class="w-16 h-16 hover:cursor-pointer object-cover rounded-lg shadow-md" />
                  <div class="mr-4">
                    <h3 class="text-sm md:text-base font-medium text-blackGray">
                      {{ product?.name }}
                    </h3>
                  </div>
                </div>
                <div
                  class="flex items-center h-[30px] *:h-full w-[20%] *:border *:border-slate-300 *:flex *:items-center *:justify-center *:w-[30px]">
                  <button
                    (click)="positiveClicked(product?.id)"
                    class="bg-gray-100 text-gray-700 hover:bg-gray-200 flex items-center justify-center transition rounded-br-lg rounded-tr-lg">
                    +
                  </button>
                  <span class="py-2 text-gray-800 font-medium">{{ product?.count }}</span>
                  <button
                    (click)="negativeClicked(product?.id)"
                    class="bg-gray-100 text-gray-700 hover:bg-gray-200 flex items-center justify-center transition rounded-bl-lg rounded-tl-lg">
                    −
                  </button>
                </div>
                <div class="w-[25%]">
                  <p class="text-sm font-medium text-primary">{{ product?.price }}</p>
                </div>
                <button
                  (click)="removeProductClicked(product?.id)"
                  class="text-red-500 hover:text-red-700 transition text-xl font-bold w-[5%] flex justify-end">
                  ×
                </button>
              </li>
            }
          }
        }
      </ul>

<!--      <div class="mt-6 flex justify-center md:justify-start">-->
<!--        <button-->
<!--          mat-button-->
<!--          color="warn"-->
<!--          (click)="onServiceCalled()"-->
<!--          class=" px-5 py-3 rounded-lg hover:bg-gray-200 transition">-->
<!--          حذف همه-->
<!--          <i class="bi bi-trash3-fill"></i>-->
<!--        </button>-->
<!--      </div>-->
    </div>

    <!-- خلاصه سفارش -->
    @if (basket) {
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold mb-6 text-right text-secondary">
          خلاصه سفارش
        </h2>
        <!--      <div class="flex justify-between items-center mb-4">-->
        <!--        <span class="text-gray-700">جمع جزء:</span>-->
        <!--        <span class="text-blackGray font-medium">۴۳,۰۰۰ تومان</span>-->
        <!--      </div>-->
        <!--      <div class="flex justify-between items-center mb-4">-->
        <!--        <span class="text-gray-700">تخفیف:</span>-->
        <!--        <span class="text-blackGray font-medium">۰ تومان</span>-->
        <!--      </div>-->
        <div
          class="flex justify-between items-center mb-6 border-t border-slate-300 pt-4">
          <span class="font-bold text-lg text-secondary">مجموع:</span>
          <span class="font-bold text-lg text-blackGray">{{ sumPrice ? sumPrice : 0 }} تومان</span>
        </div>
        <button
          mat-button
          color="primary"
          (click)="onConfirmCard()"
          class="text-white w-full py-3 rounded-lg transition font-medium">
          ثبت سفارش
          <i class="bi bi-credit-card-fill"></i>
        </button>
      </div>
    }
  </div>
</div>
