<!-- Footer container -->
<footer
  class="text-center border-t border-slate-300 mt-5 text-surface/75 lg:text-left text-secondary"
  dir="rtl">
  <!-- Main container div: holds the entire content of the footer, including four sections (TW Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- TW Elements section -->
      <div class="text-right [&>p>a]:cursor-pointer">
        <h6
          class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start text-primary">
          الور
        </h6>
        <p class="text-secondary">
          {{ info?.us }}
        </p>
      </div>
      <!-- Products section -->
      <div class="[&>p]:text-gray">
        <h6
          class="mb-4 flex justify-center text-right uppercase md:justify-start text-primary">
          محصولات
        </h6>
        <p
          class="mb-4 hover:text-black flex items-center justify-center md:justify-start">
          <a href="#!">Angular</a>
        </p>
        <p
          class="mb-4 hover:text-black flex items-center justify-center md:justify-start">
          <a href="#!">React</a>
        </p>
        <p
          class="mb-4 hover:text-black flex items-center justify-center md:justify-start">
          <a href="#!">Vue</a>
        </p>
        <p
          class="hover:text-black flex items-center justify-center md:justify-start">
          <a href="#!">Laravel</a>
        </p>
      </div>
      <!-- Contact section -->
      <div class="[&>p>a]:cursor-pointer">
        <!-- section -->
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start text-primary">
          ارتباط با ما
        </h6>
        <p
          class="mb-4 flex gap-2 items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-house-door-fill"></i>
          <a href="" class="text-right">{{ info?.address }}</a>
        </p>
        <p
          class="mb-4 gap-2 flex items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-envelope-fill"></i>
          <a [href]="'mailto:'+info?.email">{{ info?.email }}</a>
        </p>
        <p
          class="mb-4 gap-2 flex items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-phone-fill"></i>
          <a [href]="'tel:'+info?.mobile1" dir="ltr">{{ info?.mobile1 }}</a>
        </p>
        <p
          class="mb-4 gap-2 flex items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-phone-fill"></i>
          <a [href]="'tel:'+info?.mobile2" dir="ltr">{{ info?.mobile2 }}</a>
        </p>
        <p
          class="flex gap-2 items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-telephone-fill"></i>
          <a [href]="'tel:'+info?.phone" dir="ltr">{{ info?.phone }}</a>
        </p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center md:justify-start text-primary">
          نماد های اعتماد
        </h6>
        <div class="flex gap-3">
          <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=605125&Code=R1dvaJvVaLnL4f4XdUXtDqu1rsDCi5f2'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=605125&Code=R1dvaJvVaLnL4f4XdUXtDqu1rsDCi5f2' alt='' style='cursor:pointer' code='R1dvaJvVaLnL4f4XdUXtDqu1rsDCi5f2'></a>
          <img class="w-20" src="/assets/images/alver-logo.png" alt="logo" />
          <img class="w-20" src="/assets/images/alver-logo.png" alt="logo" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-center text-secondary border-t p-6 border-slate-200">
    <!-- Social network icons container -->
    <div class="flex justify-center">
      <a class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a [href]="info?.telegram"><i class="bi bi-telegram"></i></a>
      </a>
      <a class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a [href]="info?.whatsapp"><i class="bi bi-whatsapp"></i></a>
      </a>
      <a class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a [href]="info?.instagram"><i class="bi bi-instagram"></i></a>
      </a>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2023 Copyright:</span>
    <a class="font-semibold hover:underline" href="https://moeinparvizi.com/">
      moein parvizi
    </a>
  </div>
</footer>
