<!-- Footer container -->
<footer
  class="text-center border-t border-slate-300 mt-5 text-surface/75 lg:text-left text-secondary"
  style="height: 200vh"
  dir="rtl">
  <!-- Main container div: holds the entire content of the footer, including four sections (TW Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- TW Elements section -->
      <div class="text-right">
        <h6
          class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start text-primary">
          الور
        </h6>
        <p class="text-secondary">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
          متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه
          درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
        </p>
      </div>
      <!-- Products section -->
      <div class="text-right [&>p]:text-gray">
        <h6
          class="mb-4 flex justify-center text-right uppercase md:justify-start text-primary">
          محصولات
        </h6>
        <p class="mb-4 hover:text-black">
          <a href="#!">Angular</a>
        </p>
        <p class="mb-4 hover:text-black">
          <a href="#!">React</a>
        </p>
        <p class="mb-4 hover:text-black">
          <a href="#!">Vue</a>
        </p>
        <p class="hover:text-black">
          <a href="#!">Laravel</a>
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <!-- section -->
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start text-primary">
          ارتباط با ما
        </h6>
        <p
          class="mb-4 flex gap-2 items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-house-door-fill"></i>
          تهران
        </p>
        <p
          class="mb-4 gap-2 flex items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-envelope-fill"></i>
          info&#64;cexample.com
        </p>
        <p
          class="mb-4 gap-2 flex items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-phone-fill"></i>
          09107215381
        </p>
        <p
          class="flex gap-2 items-center justify-center md:justify-start text-gray hover:text-secondary">
          <i class="bi bi-telephone-fill"></i>
          021 5674329
        </p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center md:justify-start text-primary">
          نماد های اعتماد
        </h6>
        <div class="flex gap-3">
          <img class="w-20" src="/assets/images/alver-logo.png" alt="logo" />
          <img class="w-20" src="/assets/images/alver-logo.png" alt="logo" />
          <img class="w-20" src="/assets/images/alver-logo.png" alt="logo" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-center text-secondary border-t p-6 border-slate-200">
    <!-- Social network icons container -->
    <div class="flex justify-center">
      <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a href="#"><i class="bi bi-telegram"></i></a>
      </a>
      <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a href="#"><i class="bi bi-whatsapp"></i></a>
      </a>
      <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
        <a href="#"><i class="bi bi-instagram"></i></a>
      </a>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2023 Copyright:</span>
    <a class="font-semibold hover:underline" href="https://moeinparvizi.com/">
      moein parvizi
    </a>
  </div>
</footer>
