<header class="w-full">
  <div
    class="flex justify-center items-center w-full border-solid border-b border-gray h-12 py-2">
    <div
      class="top-header container flex gap-3 flex-row-reverse justify-center md:justify-between w-full text-gray">
      <div>
        <ul class="flex gap-3 flex-row-reverse">
          <li class="hover:text-black">
            <a href="#">درباره ما</a>
          </li>
          <li class="hover:text-black">
            <a href="#">حق نشر</a>
          </li>
        </ul>
      </div>

      <div class="flex gap-3 [&>a]:cursor-pointer hover:[&>a]:text-black">
        <a href="#"><i class="bi bi-telegram"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <nav
    class="w-full flex justify-end md:justify-center items-center h-20 bg-primary transition-all"
    [ngClass]="isSticky ? 'fixed-nav' : ''">
    <ul class="flex justify-between items-center gap-2" dir="rtl">
      <li>
        <button mat-button class="custom-button" [matMenuTriggerFor]="megaMenu">
          Mega Menu
        </button>
      </li>
      <li>test</li>
      <li>test</li>
    </ul>

    <mat-menu #megaMenu="matMenu" class="mega-menu p-5"> test </mat-menu>

    <mat-drawer-container
      dir="rtl"
      class="example-container md:hidden"
      autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>

        <button
          type="button"
          class="button-menu button-menu-close"
          mat-button
          (click)="drawer.toggle()">
          <i class="bi bi-x-lg"></i>
        </button>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button
          class="button-menu button-menu-open"
          type="button"
          mat-button
          (click)="drawer.toggle()">
          <!-- <i class="bi bi-list"></i> -->
          @if (drawer.opened) {
          <i class="bi bi-x-lg"></i>
          } @else {
          <i class="bi bi-list"></i>
          }
        </button>
      </div>
    </mat-drawer-container>
  </nav>
</header>
