<div class="flex justify-center items-center w-full h-full login">
  <div class="w-96 flex flex-col gap-5">
    <h6
      class="w-full flex justify-center items-center text-primary text-xl font-bold">
      ثبت نام / ورود
    </h6>
    <div class="flex flex-col gap-5">
      <div dir="rtl">
        <mat-form-field class="w-full" color="primary" appearance="outline">
          <mat-label>شماره موبایل</mat-label>
          <input
            #inputControl="ngModel"
            [(ngModel)]="mobile"
            required
            [type]="'text'"
            matInput
            placeholder="09107215381"
            title="شماره موبایل" />
          @if (inputControl.errors?.['required']) {
            <mat-error>{{ 'این فیلد اجباری است' }}</mat-error>
          }
        </mat-form-field>
      </div>

      @if (userId) {
        <div dir="rtl" class="w-full">
          <mat-form-field class="w-full" color="primary" appearance="outline">
            <mat-label>کد تایید</mat-label>
            <input
              #inputControl="ngModel"
              [(ngModel)]="token"
              required
              [type]="'text'"
              matInput
              placeholder="328497"
              title="کد تایید" />
            @if (inputControl.errors?.['required']) {
              <mat-error>{{ 'این فیلد اجباری است' }}</mat-error>
            }
          </mat-form-field>
        </div>
      }

      @if (errorMessage) {
        <div>{{ errorMessage }}</div>
      }

      <div class="button">
        <button
          mat-flat-button
          color="primary"
          class="w-full"
          [disabled]="isLoading"
          (click)="onSubmitClicked()">
          @if (isLoading) {
            <app-spinner [isLoading]="isLoading" />
          } @else {
            ثبت
          }
        </button>
      </div>
    </div>
  </div>
</div>
