$dark-text: rgba(black, 0.87);
$light-text: white;

$primary-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #1da1f2,
  600: #2196f3,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
  ),
);

$accent-palette: (
  500: #2b2d42,
  contrast: (
    500: $light-text,
  ),
);

$warn-palette: (
  500: #ef233c,
  contrast: (
    500: $light-text,
  ),
);

$yellow-palette: (
  500: #ffba08,
  contrast: (
    500: $dark-text,
  ),
);

$white-palette: (
  500: #EDF2F4,
  contrast: (
    500: $dark-text,
  ),
);

$black-palette: (
  500: #0b090a,
  contrast: (
    500: $light-text,
  ),
);

$gray-palette: (
  500: #8D99AE,
  contrast: (
    500: $light-text,
  ),
);
