@if (true) {
  <!-- {{'Title' | translate }} -->

  <router-outlet />

  <!-- <app-home></app-home> -->
} @else {
  <!-- <ng-template #otherwise>
    <div
      class="row h-100 justify-content-center align-items-center"
      style="--bs-gutter-x: 0">
      <div class="col-4 row justify-content-center row">
        <div class="col-10 d-flex justify-content-center">
          <div>
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="mt-2 d-flex justify-content-center align-items-center mt-4">
          <strong>در حال بارگزاری</strong>
        </div>
      </div>
    </div>
  </ng-template> -->
}
