.menu-title {
  text-align: right;
  border: 1px solid red;
}

.menu-larg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  @media only screen and (max-width: 800px) {
    display: none !important;
    visibility: hidden;
  }

  button {
    // background-color: red;
    color: #021526;

    &:hover {
      background: #021526;
      color: white;
    }
  }
}

.menu-icon {
  @media only screen and (min-width: 800px) {
    display: none !important;
    visibility: hidden;
  }
}
