<!-- // serach bar -->
<div class="p-5 !w-full" dir="rtl">
  @if (showHint) {
    <div class="flex flex-col gap-4 mb-4 text-gray">
      <div>برای باز شدن جستجو میتوانید از کلید ctrl + k استفاده کنید</div>
      <div>
        همچنین میتوانید با فشردن کلید Escape یا با کیک به بیرون فیلد جستجو
        عملیات را ببندید
      </div>
    </div>
  }
  <div
    class="border-none outline-none px-2 rounded-md text-primary bg-slate-300 flex items-center gap-1 !w-full">
    <label for="search">
      <i class="bi bi-search header-icon-i-search"></i>
    </label>
    <input
      id="search"
      class="bg-slate-300 placeholder:text-gray text-primary p-2 h-full focus:outline-none w-full"
      placeholder="test"
      [(ngModel)]="value"
      type="text" />
    <span class="text-primary">ctrl+k</span>
  </div>
  @if (value) {
    <div
      class="flex justify-center gap-5 flex-wrap w-full p-2"
      style="height: 80vh; overflow-y: scroll">
      <app-card
        *ngFor="let item of res | search: value"
        class="inline-block fade-in"
        [product]="item"></app-card>
    </div>
  }
  <!-- @else { -->
    <!-- <div -->
      <!-- class="flex justify-center gap-5 flex-wrap text-white w-full p-2 text-xl"> -->
      <!-- nothing is here -->
    <!-- </div> -->
  <!-- } -->
</div>
