.cdk-global-overlay-wrapper {
  justify-content: center !important;
  // align-items: start !important;
}

.mat-mdc-dialog-surface {
  box-shadow: none;
  background-color: transparent;
  width: 500px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
