@use '@angular/material' as mat;

@include mat.core();

@import 'assets/colors/custom-palette.scss';

$primary: mat.m2-define-palette($primary-palette, 500, 800, 900);
$accent: mat.m2-define-palette($accent-palette, 500, 500, 500);
$warn: mat.m2-define-palette($warn-palette, 500, 500, 500);
$black-p: mat.m2-define-palette($black-palette, 500, 500, 500);
$white-p: mat.m2-define-palette($white-palette, 500, 500, 500);
$gray-p: mat.m2-define-palette($gray-palette, 500, 500, 500);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      secondary: $black-p,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}

@import 'assets/colors/light';

// icons
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

// tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
@font-face {
  font-family: iransans;
  src: url('../src/assets/fonts/IRANSansXRegular.ttf');
}

// regular styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: iransans;
}

@layer components {
  .header-icon-i {
    @apply text-white text-xl;
  }
}

.custom-snackbar {
  direction: rtl;
  // .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface
  --mdc-snackbar-container-color: $white;
  --mat-snack-bar-button-color: rgb(34, 0, 0);
  .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    color: $secondary !important; /* White text */
  }
}
