// colors
@import '../colors/light';

::ng-deep .menu-primary.mat-mdc-menu-panel {
  box-shadow:
    0 5px 5px -3px $primary-low,
    0 8px 10px 1px $primary-low,
    0 3px 14px 2px $primary-low;
  background-color: $white !important;
  color: $black;
  width: 100wv !important;
}
